node_modules
package-lock.json

temp

src
out/**/*.map

build

.vscode
script

.gitignore
.vscodeignore

tsconfig.json

!node_modules/@vscode/webview-ui-toolkit/dist/toolkit.min.js
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf

!node_modules/vue/dist/vue.global.js